{% extends "todos/../base.html" %}
{% block menu %}
{##}
{% endblock %}
{% block content %}
    <h1>Types:</h1>
{% for types in type %}
    <div class="card border-primary mb-3" style="max-width: 18rem; text-align: center">
  <div class="card-header"><h3>{{ types.types}}</h3>
          <p class="card-title"><a href="{% url 'webapp:type_delete' types.pk %}"> Delete</a></p>
      <p class="card-title"><a href="{% url 'webapp:type_update' types.pk %}"> Update</a></p>
  </div>
</div>

{% endfor %}
{% endblock %}