{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport"
         content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}To Do{% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">My Todo Page</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'webapp:todo_index' %}">Home <span class="sr-only">(current)</span></a>
      </li>
            <li class="nav-item active">
        <a class="nav-link" href="{% url 'webapp:project_index' %}">Projects <span class="sr-only">(current)</span></a>
      </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'webapp:status' %}">Statuses <span class="sr-only">(current)</span></a>
      </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'webapp:type' %}">Types <span class="sr-only">(current)</span></a>
      </li>

            <li class="nav-item dropdown">
        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Add+
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% if perms.webapp.add_project %}
          <a class="dropdown-item" href="{% url 'webapp:project_add' %}">Add Project</a>
            {% endif %}
{#          <a class="dropdown-item" href="{% url 'webapp:todo_add' %}">Add ToDo</a>#}
            <a class="dropdown-item" href="{% url 'webapp:status_add' %}">Add Status</a>
          <a class="dropdown-item" href="{% url 'webapp:type_add' %}">Add Type</a>
        </div>
      </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'accounts:user_list' %}">Users<span class="sr-only">(current)</span></a>
      </li>
        {% if user.is_authenticated %}
            <li class="nav-item active">
               <a class="nav-link" href="{% url 'accounts:detail' user.pk %}">Привет, {{ user.username }}!</a></li>
            <li class="nav-item active"><a class="nav-link" href="{% url 'accounts:logout'  %}?next={{ request.path }}">Log Out<span class="sr-only">(current)</span></a></li>
            {% else %}
                <li class="nav-item active"><a class="nav-link" href="{% url 'accounts:login'  %}?next={{ request.path }}">Log In<span class="sr-only">(current)</span></a></li>
            <li class="nav-item active">
        <a class="nav-link" href="{% url 'accounts:register' %}">Sign Up<span class="sr-only">(current)</span></a></li>
            {% endif %}
    <li class="nav-item active">
        <a class="nav-link" href="#" data-target="#myModal" data-toggle="modal">Statistic</a>
{#    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">#}
{#  Statistics#}
{#</button>#}
    </li>
    </ul>
        {% block menu %}{% endblock %}
          <li class="nav-item active">
            {{ count }}
    </li>

{#    <form class="form-inline my-2 my-lg-0" method="post" action="/search/?pk={{ todo.pk }}">#}
{#        {% csrf_token %}#}
{#      <input class="form-control mr-sm-2" type="search"  name = "todo_id" placeholder="Doesn't work at moment">#}
{#      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
{#    </form>#}
  </div>
</nav>

<div class="container">
    {% block content %}{% endblock %}
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Statistic:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Clicks on main page: {{ request.session.todo|default:0 }}<br>
          Time on main page: {{ request.session.time_index|default:0 }}<br>

{#          {% for keys, values in path_counter.items %}#}
{#              {#}
{#                Sites visited: {{ keys }} {{ values }}<br>#}
{#          {% endfor %}#}
          {% for key, value in lol.items %}
                {{ key }} {{ value }}<br/>
          {% endfor %}

{#          Users: {{ user_list }}<br>#}
          Total visits on main mage: {{ total }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<script>
$('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})
</script>
{#<script type="application/javascript">#}
{#            $(window).on('load', function(){#}
{#                $('#myModal').modal('show');#}
{#            });#}
{#        </script>#}
</body>
</html>

