{% extends 'base.html' %}
{% block title %}{{ type.types}}{% endblock %}
{% block menu %}
{#    <li><a href="{% url 'type_update' type.pk %}">Edit</a></li>#}
{#    <li><a href="{% url 'todo_delete' todo.pk %}">Delete</a></li>#}
{% endblock %}
{% block content %}
   <div class="container">
       <h1>{{ type.types }}</h1>
{#       <p>Date: <b>{{ todo.date }}<br/></b> Status: <b>{{ todo.status }}</b><br/> Type:<b>{{ todo.type }}</b></p>#}
{#       <div class="pre">Description: {{ todo.description }}</div>#}
   </div>
{% endblock %}