{% extends "todos/base.html" %}
{% block title %}{{ project.name}}{% endblock %}
{% block menu %}
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'project_add' %}">Add Project <span class="sr-only">(current)</span></a>
      </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'todo_add' %}">Add toDo+ <span class="sr-only">(current)</span></a>
      </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'status_add' %}">Add Status <span class="sr-only">(current)</span></a>
      </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'type_add' %}">Add Type <span class="sr-only">(current)</span></a>
      </li>
{% endblock %}
{% block content %}
   <h1>Are you sure want to delete Project "{{ project.name }}"?</h1>
   <form method="POST" action="{% url "project_delete" project.pk %}">
       {% csrf_token %}
       {% include 'partial/form.html' with button_text='Delete' %}
   </form>
{% endblock %}