{% extends 'todos/base.html' %}
{% block menu %}
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'project_add' %}">Add Project <span class="sr-only">(current)</span></a>
      </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'todo_add' %}">Add toDo+ <span class="sr-only">(current)</span></a>
      </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'status_add' %}">Add Status <span class="sr-only">(current)</span></a>
      </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'type_add' %}">Add Type <span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item active">
            {% include 'partial/simple_search.html' %}
    </li>
{% endblock %}
{% block content %}
   <h1>Projects:</h1>
   <hr/>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
   {% for proj in project %}
           <div class="card border-primary mb-3" style="max-width: 18rem; text-align: center">
  <div class="card-header"><h3>{{ proj.name}}</h3>
{#    <h5 class="card-title">{{ todo.description }}</h5>#}
{#      <h5 class="card-title">Status: {{ todo.status }}</h5>#}
{#      <h5 class="card-title">Type: {{ todo.type }}</h5>#}
    <p class="card-title"><a href="{% url 'project_view' proj.pk %}"> Details...</a></p>
  </div>
</div>
   {% endfor %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}