{% extends 'todos/../base.html' %}
{% block menu %}
            {% include 'partial/simple_search.html' %}
{% endblock %}
{% block content %}
   <h1>Projects:</h1>
   <hr/>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
   {% for proj in project %}
           <div class="card border-primary mb-3" style="max-width: 18rem; text-align: center">
  <div class="card-header"><h3>{{ proj.name}}</h3>
{#    <h5 class="card-title">{{ todo.description }}</h5>#}
{#      <h5 class="card-title">Status: {{ todo.status }}</h5>#}
{#      <h5 class="card-title">Type: {{ todo.type }}</h5>#}
    <p class="card-title"><a href="{% url 'webapp:project_view' proj.pk %}"> Details...</a></p>
      <p class="card-title"><a href="{% url 'webapp:todo_add' proj.pk%}"> Add Todo</a></p>
  </div>
</div>
   {% endfor %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}