{% extends 'todos/../base.html' %}
{% block title %}{{ project.name}}{% endblock %}
{% block menu %}
{% endblock %}

{% block content %}
   <div class="container">
       <p> Project: {{ project }}</p>
       <p>Date: <b>{{ project.created_at }}<br/></b>
       <p>Description: <b>{{ project.description }}<br/></b>
       <p>Status: <b>{{ project.status }}</b><br/></p>
{#       <h3>Todos:</h3>#}
        <p><h2>RegisteredUsers:</h2></p>
   {% for user in users %}
       {{ user.username}}
   {% endfor %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
   <div class="form-group" style="text-align: left">
               <form action="{% url 'webapp:project_add_users' project.pk %}" method="POST" id="add_todo">
        {% include 'partial/form.html' with button_text='Kick' %}
    </form>

    </div>
   </div>
{% endblock %}